---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Overpass:600,700,800,900');

/*GLOBAL FONTS*/
h1, h2, h3, strong, p.overall-rating, a.page-link, p.product-value-prop, .main-banner .text-overlay p {
	font-family: 'Overpass', sans-serif;
}
p.product-value-prop {
    font-size: 20px;
    font-weight: 800;
    margin-top: 22px;
    margin-bottom: 5px;
    color: black;
}
p {
	font-family: 'Helvetica', serif;
    font-size: 15px;
}
p.thumbnail-title {
    color: black;
}
a:visited {
    color: initial;
}

strong{
    font-weight: 900;
}
a.amazon-link, a.amazon-link:visited{
    color: #d00000;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: solid 3px #d00000;
    font-size: 12px;
    font-weight: 500;
}

header,footer {
    background: rgba(245, 245, 245, 0.29);;
}
.site-header {
    border-top: 0px;
    border-bottom: 0px;
    min-height: 55.95px;
    position: relative;
}
.site-nav .page-link {
    color: black;
    line-height: 1.5;
}
.site-title{
	max-width: 210px;
}    
.main-banner a{
    background-color: #982018;
    color: white;
    padding: 11px 19px;
    font-size: 11px;
}
.main-banner a:hover{
    background-color: #730504;
}
a:hover {
    text-decoration: none;
}
h3 {
    font-weight:800;
}
hr{
    height: 0px;
    border: 0px;
    border-top: 1px solid #c5c5c5;
    margin: 44px 0px 30px 0px;
}
.link {
    background-color: #d00000;
    max-width: 124px;
    padding: 6px;
    margin: 0 auto;
    font-size: 13px;
}
/*end global*/



/*-------HOME PAGE------------*/
a.main-banner-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.main-banner {
    max-height: 550px;
    overflow: hidden;
    width: 100%;
}
.main-banner .eyebrow{
    margin-bottom: 4px;
}
.main-banner .headline {
    font-size: 52px;
    line-height: 58px;
    font-weight: 800;
    margin-bottom: 9px;
}

.main-banner .tint-overlay {
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
    position: absolute;
    height: 500px;
    background-blend-mode: soft-light;
}

.main-banner-section-wrapper {
    position: absolute;
    height: 500px;
    width: 50%;
    padding: 0px;
    background: initial;
}

.main-banner-full {
    position: relative;
    width: 100%;
    height: 550px;
    background-image: url(../images/home/military_watch_main_banner.jpg);
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
}

.main-banner-left {
    position: relative;
    width: 50%;
    height: 500px;
    float: left;
    background-image: url('../images/home/wargame_theory_destroyed_landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main-banner-right {
    position: relative;
    width: 50%;
    height: 500px;
    float: right;
    background-image: url('../images/home/wargame_theory_military_watch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main-banner img{
    width: 100%;
}

.main-banner .text-overlay {
    position: absolute;
    color: white;
    max-width: 98%;
    left: 0;
    right: 0;
    top: 56px;
    text-align: center;
}

.main-banner .text-overlay .sub {
    padding-bottom: 12px;
}

/*end main*/

/*--------REVIEW POST----------*/
/*POST HEADER*/
.post-header {
    position: relative;
    top: -133px;
    text-align: center;
    color: white;
    background: black;
    padding: 53px 0px;
    margin-bottom: -100px;
}
p.product-image{
    text-align: center;
}
.product-review-explanation{
    margin-bottom: 60px;
}
.product-image img {
    max-width: 200px;
    width: 100%;
}

/*COMPARISON CHART*/
table.comparison-chart{
    margin-bottom: 60px;
}
.comparison-chart td{
    padding: 32px 10px;
    text-align: center;
    width: 25%
}
.comparison-chart tr, td{
    outline: solid 5px black;    
}
.comparison-chart p.product-name{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
    color: black;
}
.comparison-chart img{
    width: 100%;
}



/*REVIEW RATING SECTION*/
.review-rating{
    width: 50%;
    float: left;
}
.review-rating-numbers{
	display: none;
}
ul.ratingsBars {
    margin-left: 0px;
}
.ratingsBars .categoryWrap, .overall-rating {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.overall-rating .num{
	font-size: 31px;
}
.ratingsBars .categoryWrap strong {
    float: right;
    font-size: 14px;
}
.ratingsBars .barWrap {
    background-color: #DBDBDB;
    height: 6px;
    margin: 3px 0 15px;
    position: relative;
}
.innerBarWrap {
    height: 6px;
    background-color: black;
    position: absolute;
}
ul li {
    list-style: none;
}

/*end review*/
/*-------END REVIEW POST---------*/


/*-------CATEGORY PAGE---------*/
.category-page-banner {
    height: 300px;
    position: relative;
}
.category-page-banner h1{
    z-index: 1;
    color: white;
    position: absolute;
    padding-bottom: -10px;
    bottom: -25px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 63px;
    letter-spacing: -1px;
    font-weight: 900;
}

h2.category-page{
    font-size: 28px;
    font-weight: 900;
    border-bottom: solid 7px black;
    margin-top: 27px;
    height: 38px;
}

img.thumbnail-image {
    max-width: 172px;
    width: 100%;
}

ul.post-list{
    margin-left: -15px;
    width: 772px;
}
.post-list > li {
    margin-bottom: 30px;
    width: 21%;
    margin: 2%;
    display: inline;
    float: left;
}
.thumbnail-title{
    margin-top: 9px;
    font-weight: 600;
    text-align: center;
    margin-bottom: -15px;
}


/*-------end category----------*/



@media only screen and (max-width: 768px) {
    .main-banner-left, .main-banner-right {
        width: 100%;
        height: 250px;
        float: initial;
    }

    .main-banner .main-banner-left .text-overlay,
    .main-banner .main-banner-right .text-overlay {
        position: absolute;
        color: white;
        max-width: 98%;
        left: 0;
        right: 0;
        top: 28px;
        text-align: center;
    }
}




