<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}
    <!-- category page main banner and title-->
    {% if layout.main-banner %}
      <div class="main-banner category-page-banner">
          <h1>{{ layout.category-title | escape }}</h1>
          <div class="tint-overlay"></div>
          <img src={{ layout.main-banner | escape }} alt={{ layout.main-banner-alt | escape }}>
      </div>
    {% endif %}
    <!-- blog post main banner -->
    {% if page.main-banner %}
      <div class="main-banner">
          <img src={{ page.main-banner | escape }} alt={{ page.main-banner-alt | escape }}>
      </div>
    {% endif %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}


<script>
/*ADD TARGET=_BLANK AND .AMAZON-LINK TO ALL AMAZON LINKS*/
window.onload = function(){
  var anchors = document.getElementsByTagName('a');
  for (var i=0; i<anchors.length; i++){
    if (anchors[i].href.indexOf("amazon") > -1){
        anchors[i].setAttribute('target', '_blank');
        anchors[i].className = "amazon-link";
    }

  }
  /*Add all relevant classes to comparison chart*/
  var product_info = document.querySelectorAll(".comparison-chart.amazon-products a");
  var test = document.querySelectorAll(".comparison-chart.amazon-products a");
  //loop through all products in chart
  for (var curr_product=0; curr_product<product_info.length; curr_product++) {
    //split string
    var product_str_before = product_info[curr_product].innerHTML.split(";");

    //add tags to string
    var product_str_after = product_str_before[0];
    product_str_after = product_str_after.concat('<p class="product-value-prop">', product_str_before[1], '</p>');
    product_str_after = product_str_after.concat('<p class="product-name product-price"><strong>', product_str_before[2], '</strong></p>');
    product_str_after = product_str_after.concat('<p class="product-name">', product_str_before[3], '</p>');
    product_str_after = product_str_after.concat('<a class="amazon-link">', product_str_before[4], '</a>');
    
    //insert string into DOM
    var test2 = product_info[curr_product];
    test2.innerHTML = product_str_after;

    console.log(product_info);
  }


}
</script>

  </body>


</html>
