<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="main-banner">
      <div class="tint-overlay"></div>
      <div class="main-banner-left hero">
        <div class="text-overlay">
          <p class="eyebrow">I want to learn</p>
          <p class="headline">MILITARY<br>HISTORY.</p>
          <a href="/strategy">MUCH TO LEARN, YOU STILL HAVE</a>
        </div>
        <!--<img src="images/home/wargame_theory_destroyed_landscape.jpg">-->
      </div>
      <div class="main-banner-right hero">
        <div class="text-overlay">
          <p class="eyebrow">I want to discover</p>
          <p class="headline">TACTICAL<br>GEAR.</p>
          <a href="/reviews">NOT ALL GEAR ARE CREATED EQUAL</a>
        </div>        
        <!--<img src="images/home/wargame_theory_military_watch.jpg">-->
      </div>
    </div>

<!--
    <main class="page-content" aria-label="Content">
      <div class="wrapper">


        <div class="home">


          <h1 class="page-heading">HOME</h1>
          
          {{ content }}

          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

                <h2>
                  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>


          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

        </div>

      </div>
    </main>-->

    {% include footer.html %}

  </body>

</html>
