<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

<!--DOUBLE BANNER
    <div class="main-banner">
      <div class="tint-overlay"></div>
          <div class="main-banner-left hero">
              <div class="text-overlay">
                <p class="eyebrow">I want to learn</p>
                <p class="headline">MILITARY<br>HISTORY.</p>
                <a href="/strategy">MUCH TO LEARN, YOU STILL HAVE</a>
              </div>
          </div>

        <div class="main-banner-right hero">
          <div class="text-overlay">
            <p class="eyebrow">I want to discover</p>
            <p class="headline">TACTICAL<br>GEAR.</p>
            <a href="/reviews">NOT ALL GEAR ARE CREATED EQUAL</a>
          </div>        
        </div>
    </div>-->

    <!--<a href="/top-military-watches" class="main-banner-wrapper">-->
      <div class="main-banner">
        <a href="/top-military-watches" class="main-banner-wrapper">
        <div class="tint-overlay"></div>
        <div class="main-banner-full hero">
            <div class="text-overlay">
              <p class="headline">Best Military Watches.</p>
              <p class="sub">The 4 best watches that are sure to fulfill your tactical needs.</p>
              <p class="link">UPGRADE TIME</p>
            </div>
        </div>
        </a>
      </div>
    <!--</a>-->

    {% include footer.html %}

  </body>

</html>
